@use '../abstracts' as *;
@use '../utilities' as *;
@use '../components' as *;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

body {
	background: var(--clr-body-bg);
	font-family: 'Heebo', sans-serif;
	color: #fff;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.output {
	min-width: 100px;
	min-height: 1rem;
	background-color: #fff;
	display: block;
	color: #000;
}

h1.title {
	text-align: center;
}
