$colors: (
	body: (
		bg: hsl(223, 34%, 12%),
		text: hsl(0, 0%, 100%)
	),
	button: (
		bg: hsl(224, 23%, 31%),
		border: hsl(225, 100%, 87%),
		winBG: hsl(119, 57%, 33%),
		winBorder: hsl(126, 100%, 87%),
		looseBG: hsl(7, 57%, 33%),
		looseBorder: hsl(11, 100%, 83%)
	),
	computer: (
		bg: hsl(0, 0%, 43%),
		border: hsl(0, 0%, 79%)
	),
	loader: (
		200: hsl(0, 0%, 77%),
		300: hsl(0, 0%, 52%),
		400: hsl(0, 0%, 25%)
	)
);
