@mixin pseudo(
	$loc: before,
	$content: '',
	$pos: absolute,
	$top: 0,
	$bottom: 0,
	$left: 0,
	$right: 0
) {
	position: relative;

	&::#{$loc} {
		content: $content;
		position: $pos;
		top: $top;
		bottom: $bottom;
		left: $left;
		right: $right;
		@content;
	}
}

@mixin flex-center($justify: center, $align: center, $direction: column) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}
